/* ---------------
Google fonts
---------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* ---------------
Universal styles
---------------- */
* {
  padding: 0;
  margin: 0;
  transition: all 0.5s ease-out;
}
body {
  font-family: "Poppins", sans-serif;
}
/* -------------------------
  Navigation menu styles
------------------------- */

nav {
  line-height: 60px;
  display: flex;
  justify-content: space-between;
}
nav .dropdown {
  display: none;
}

nav .logo,
.fas {
  font-size: 20px;
  cursor: pointer;
  padding: 0 15px;
}
.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  list-style: none;
  text-decoration: none;
  padding: 19px 25px;
}

.menu ul li a:hover {
  background-color: #80808048;
}

/* -------------------------
  Main body styles
------------------------- */
section {
  padding: 0 15px;
}

button {
  color: white;
  background-color: #d40063;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}
button .fa-arrow-right {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-size: 15px;
}
button:hover {
  background-color: #950046;
}

.bnr_sec {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bnr_img img {
  width: 80%;
  height: auto;
}
/* -------------------------
  Navigation media
------------------------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 820px) {
  nav .dropdown {
    display: flex;
    align-items: center;
  }
  .menu ul {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
